<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>FeHelper - Extension Market</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css"/>
    <script type="text/javascript" src="../static/vendor/evalCore.min.js"></script>
    <script type="text/javascript" src="../static/vendor/vue/vue.js"></script>
</head>
<body>

<div class="wrapper" id="marketContainer">
    <div class="main-navbar">
        <div class="navbar-brand">
            <a href="https://fehelper.com" target="_blank" class="brand-link">
                <img src="../static/img/fe-16.png" alt="fehelper"/> 
                <span class="brand-text">FeHelper</span>
                <span class="brand-subtitle">Extension Market</span>
            </a>
        </div>
        <div class="navbar-actions">
            <a href="https://www.gitfish.dev/repo/zxlie/FeHelper" target="_blank" class="nav-item token-link">
                <i class="nav-icon">💰</i>
                <span>FH$ Token</span>
            </a>
            <a href="#" @click="openDonateModal" class="nav-item donate-link">
                <i class="nav-icon">❤</i>
                <span>Donate</span>
            </a>
            <a href="#" @click="showSettings" class="nav-item settings-link">
                <i class="nav-icon">⚙</i>
                <span>Settings</span>
            </a>
            <a href="#" @click="autoFixBugs" class="nav-item bugfix-link highlight-bugfix" title="One-click bug fix, apply official patches">
                <span class="bugfix-emoji">🛠️</span>
                <span class="bugfix-text">Fix Bugs</span>
            </a>
            <div class="version-info" v-if="versionChecked">
                <!-- Show simplified info when version is the same -->
                <div v-if="latestVersion && !needUpdate" class="version-latest">
                    <i class="version-check-icon">✓</i>
                    <span>Latest version </span>
                    <span class="version-number">v{{manifest.version}}</span>
                </div>
                
                <!-- Show detailed info when version is different or latest version not retrieved -->
                <template v-else>
                    <div class="version-details">
                        <div class="version-label">Current:</div>
                        <div class="current-version">v{{manifest.version}}</div>
                    </div>
                    <div class="version-details">
                        <div class="version-label">Latest:</div>
                        <div class="latest-version-text" v-if="latestVersion">v{{latestVersion}}</div>
                        <div class="latest-version-container" v-else>
                            <img class="latest-version-img" @click="openStorePage" src="https://img.shields.io/chrome-web-store/v/pkgccpejnmalmdinmhkkfafefagiiiad?style=flat-square&label=%20" alt="Latest version">
                        </div>
                    </div>
                    <button v-if="needUpdate" @click="openStorePage" class="update-btn">Update Now</button>
                </template>
            </div>
        </div>
    </div>

    <div class="market-container" v-cloak>

        <!-- Settings modal -->
        <div class="settings-modal" v-if="showSettingsModal" v-cloak>
            <div class="settings-dialog">
                <div class="settings-header">
                    <h3>FeHelper Extension Settings</h3>
                    <span class="close-btn" @click="closeSettings">&times;</span>
                </div>
                <div class="settings-body">
                    <!-- FH Shortcuts Settings -->
                    <div class="settings-section">
                        <h4># FH Shortcuts <span class="x-tips">(Set some shortcuts for easier use)</span></h4>
                        <a href="#" @click="setShortcuts" id="setShortcuts">&gt;&gt; Click to configure FeHelper shortcuts (Current: {{ defaultKey }}) &gt;&gt;</a> <br>
                        <div class="x-tips">
                            Tips: Press the <b>shortcut key</b> to automatically open FeHelper! Then use <b>Up/Down</b> arrow keys to select features, press <b>Enter</b> to open directly!
                        </div>
                    </div>

                    <!-- FH Tool Sorting -->
                    <div class="settings-section">
                        <h4># FH Tool Sorting <span class="x-tips">(Customize the display order of installed tools in popup)</span></h4>
                        <div class="tool-sort-container">
                            <div class="sort-tips">Drag the tool items below to adjust the order. The adjusted order will take effect in the popup.<br/>
                                <span style="color: #52c41a; font-size: 11px;">💡 Tip: Clicking the "Save" button at the bottom will save both tool sorting and extension settings</span>
                            </div>
                            <div class="sortable-list" id="sortableList">
                                <div v-for="(tool, index) in sortableTools" 
                                     :key="tool.key" 
                                     class="sortable-item"
                                     :data-tool-key="tool.key"
                                     draggable="true"
                                     @dragstart="handleDragStart($event, index)"
                                     @dragover="handleDragOver($event)"
                                     @drop="handleDrop($event, index)"
                                     @dragend="handleDragEnd">
                                    <div class="drag-handle">⋮⋮</div>
                                    <div class="tool-icon">{{tool.icon}}</div>
                                    <div class="tool-name">{{tool.name}}</div>
                                    <div class="tool-desc">{{tool.tips}}</div>
                                </div>
                            </div>
                            <div class="sort-actions">
                                <button class="btn btn-info btn-sm" @click="resetToolOrder">Reset to Default</button>
                                <button class="btn btn-success btn-sm" @click="saveToolOrder">Save Order</button>
                            </div>
                        </div>
                    </div>

                    <!-- FH Basic Settings -->
                    <div class="settings-section">
                        <h4># FH Basic Settings <span class="x-tips">(Some basic settings of the extension, can be configured here)</span></h4>
                        <div class="box-config">
                            <div class="st-item">
                                <input type="checkbox" value="OPT_ITEM_CONTEXTMENUS" id="opt_item_contextMenus" v-model="selectedOpts"/>
                                <label for="opt_item_contextMenus">Add&nbsp;<b><i>FeHelper Tools</i></b>&nbsp;to context menu<span class="x-tips">(If you like to use FeHelper via context menu, you can enable it here)</span></label> <br/>

                                <div class="box-inner row ui-ml-20" :class="{'x-disabled':!selectedOpts.includes('OPT_ITEM_CONTEXTMENUS')}">
                                    <div class="row-line">
                                        <input type="checkbox" id="MENU_DOWNLOAD_CRX" v-model="menuDownloadCrx" :disabled="!selectedOpts.includes('OPT_ITEM_CONTEXTMENUS')"/>
                                        <label for="MENU_DOWNLOAD_CRX">Add&nbsp;<b><i>Extension Share/Download</i></b>&nbsp;to context menu</label>
                                    </div>
                                    <div class="row-line">
                                        <input type="checkbox" id="MENU_FEHELPER_SETTING" v-model="menuFeHelperSeting" :disabled="!selectedOpts.includes('OPT_ITEM_CONTEXTMENUS')"/>
                                        <label for="MENU_FEHELPER_SETTING">Add&nbsp;<b><i>FeHelper Settings</i></b>&nbsp;to context menu</label>
                                    </div>
                                </div>
                            </div>

                            <div class="st-item">
                                <input type="checkbox" value="FORBID_OPEN_IN_NEW_TAB" id="FORBID_OPEN_IN_NEW_TAB" v-model="selectedOpts"/>
                                <label for="FORBID_OPEN_IN_NEW_TAB">Prevent opening the same tool in multiple tabs/windows<span class="x-tips">(If you only want to keep one active window for the same tool, check this)</span></label> <br/>
                            </div>

                            <div class="st-item">
                                <input type="checkbox" value="CONTENT_SCRIPT_ALLOW_ALL_FRAMES" id="CONTENT_SCRIPT_ALLOW_ALL_FRAMES" v-model="selectedOpts"/>
                                <label for="CONTENT_SCRIPT_ALLOW_ALL_FRAMES">Allow FeHelper to access all iframes in pages<span class="x-tips">(By default, embedded iframes in pages are not supported. Enable if needed)</span></label> <br/>
                            </div>

                            <div class="st-item">
                                <input type="checkbox" value="JSON_PAGE_FORMAT" id="JSON_PAGE_FORMAT" v-model="selectedOpts"/>
                                <label for="JSON_PAGE_FORMAT">Enable automatic JSON formatting (Automatically detect and format pages. You can customize advanced settings for JSON auto-formatting, including themes)</label> <br/>
                            </div>

                            <div class="st-item">
                                <input type="checkbox" value="FORBID_STATISTICS" id="FORBID_STATISTICS" v-model="selectedOpts"/>
                                <label for="FORBID_STATISTICS">Disable extension usage statistics<span class="x-tips">(When checked, the extension will not send any statistical data to the server)</span></label> <br/>
                            </div>

                            <div class="st-item" v-if="!isFirefox">
                                <input type="checkbox" value="AUTO_DARK_MODE" id="AUTO_DARK_MODE" v-model="selectedOpts"/>
                                <label for="AUTO_DARK_MODE">Auto enable dark mode (<span class="x-tips">Protect your eyes! Automatically enable dark mode when using tools between <b><i>19:00~06:00</i></b></span>)</label>
                                <a href="#" class="a-btn" @click="turnLight($event)">Try dark mode!</a>
                                <span class="x-count-down" v-cloak v-if="countDown>0">This trial will end in <b>{{countDown}} seconds</b>...</span> <br/>

                                <div class="box-inner row ui-ml-20" :class="{'x-disabled':!selectedOpts.includes('AUTO_DARK_MODE')}">
                                    <div class="row-line">
                                        <input type="checkbox" value="ALWAYS_DARK_MODE" id="ALWAYS_DARK_MODE" v-model="selectedOpts" :disabled="!selectedOpts.includes('AUTO_DARK_MODE')"/>
                                        <label for="ALWAYS_DARK_MODE">Always enable dark mode (<span class="x-tips">Ignore time limits, always Dark Mode</span>)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-footer">
                    <button class="btn btn-success" @click="saveSettings">Save</button>
                    <button class="btn btn-danger" @click="closeSettings">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Donate modal -->
        <div class="settings-modal donate-modal" v-if="showDonateModal" v-cloak>
            <div class="settings-dialog">
                <div class="settings-header">
                    <h3># Donate to Support Development!</h3>
                    <span class="close-btn" @click="closeDonateModal">&times;</span>
                </div>
                <div class="settings-body">
                    <div class="donate-content">
                        <p class="donate-desc">{{donate.text}}I will try my best to keep it updated😄</p>
                        
                        <!-- FH$ Token tip -->
                        <div class="token-tips">
                            <div class="token-header">
                                <i class="token-icon">💰</i>
                                <h4>FeHelper Token FH$</h4>
                            </div>
                            <div class="token-content">
                                <p>🎉 <strong>FeHelper now supports the open-source token FH$!</strong></p>
                                <p>• Support purchasing FH$ tokens through <a href="https://www.gitfish.dev/repo/zxlie/FeHelper" target="_blank" class="token-link-inline">GitFish Platform</a></p>
                                <p>• Welcome to submit PRs on <a href="https://github.com/zxlie/FeHelper" target="_blank" class="token-link-inline">GitHub</a> to earn token rewards</p>
                                <p>• Tokens can be used to support project development and participate in community governance</p>
                            </div>
                        </div>
                        
                        <div class="donate-qrcode">
                            <img :src="donate.image" alt="WeChat QR Code for Donation" class="donate-image">
                            <p class="donate-text">Donate via WeChat to support development!</p>
                        </div>
                    </div>
                </div>
                <div class="settings-footer">
                    <button class="btn btn-success" @click="closeDonateModal">I've Donated</button>
                    <button class="btn btn-danger" @click="closeDonateModal">Maybe Later</button>
                </div>
            </div>
        </div>

        <!-- Custom confirmation dialog -->
        <div class="settings-modal confirm-modal" v-if="confirmDialog.show" v-cloak>
            <div class="settings-dialog">
                <div class="settings-header">
                    <h3>{{ confirmDialog.title }}</h3>
                    <span class="close-btn" @click="cancelConfirm">&times;</span>
                </div>
                <div class="settings-body">
                    <div class="confirm-content">
                        <div class="confirm-icon">❓</div>
                        <p class="confirm-message">{{ confirmDialog.message }}</p>
                    </div>
                </div>
                <div class="settings-footer">
                    <button class="btn btn-success" @click="confirmAction">Confirm</button>
                    <button class="btn btn-danger" @click="cancelConfirm">Cancel</button>
                </div>
            </div>
        </div>

        <!-- 推荐位和广告位 -->
        <div class="recommendation-container">
            <div class="recommendation-section hot-tools">
                <div v-for="card in recommendationCards" :key="card.title"
                     class="recommendation-card" 
                     :class="{ 'ad-card': card.isAd }"
                     @click="handleRecommendClick(card)">
                    <div class="rec-icon" :class="{ 'ad-icon': card.isAd }">{{card.icon}}</div>
                    <div class="rec-content">
                        <h4>{{card.title}}</h4>
                        <p>{{card.desc}}</p>
                        <span :class="card.tagClass">{{card.tag}}</span>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Top search and filter area -->
        <div class="market-header">
            <div class="search-filters-container">
                <div class="search-box">
                    <i class="search-icon">🔍</i>
                    <input type="text" v-model="searchKey" placeholder="Search tools..." @input="handleSearch">
                </div>
                <div class="filter-group">
                    <select v-model="currentCategory" @change="handleCategoryChange(currentCategory)" class="filter-select">
                        <option value="">All Categories</option>
                        <option v-for="category in categories" :value="category.key">{{category.name}}</option>
                    </select>
                </div>
                <div class="filter-group">
                    <select v-model="sortType" @change="handleSort" class="filter-select">
                        <option value="default">Default</option>
                        <option value="newest">Newest</option>
                        <option value="hot">Most Popular</option>
                    </select>
                </div>
                <div class="view-toggle">
                    <span class="view-btn" :class="{ active: viewMode === 'grid' }" @click="saveViewMode('grid')">Grid View</span>
                    <span class="view-btn" :class="{ active: viewMode === 'list' }" @click="saveViewMode('list')">List View</span>
                </div>
            </div>
        </div>
        
        <!-- Main content area -->
        <div class="market-content">
            <!-- Sidebar -->
            <div class="market-sidebar">
                <div class="sidebar-section">
                    <h4>Tool Categories</h4>
                    <ul class="category-list">
                        <li :class="{active: currentCategory === '' && currentView === 'all'}" 
                            @click="handleCategoryChange('')">
                            All Categories
                            <span class="count">({{Object.keys(originalTools).length}})</span>
                        </li>
                        <li v-for="category in categories" 
                            :class="{active: currentCategory === category.key && currentView === 'all'}"
                            @click="handleCategoryChange(category.key)">
                            {{category.name}}
                            <span class="count">({{getCategoryCount(category.key)}})</span>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-section">
                    <h4>My Tools</h4>
                    <ul class="my-tools">
                        <li :class="{active: currentView === 'installed'}" @click="showMyInstalled">
                            Installed
                            <span class="count">({{installedCount}})</span>
                        </li>
                        <li :class="{active: currentView === 'favorites'}" @click="showMyFavorites">
                            Favorites
                            <span class="count">({{getFavoritesCount()}})</span>
                        </li>
                        <li :class="{active: currentView === 'recent'}" @click="showRecentUsed">
                            Recent
                            <span class="count">({{recentCount}})</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Tools display area -->
            <div class="tools-grid">
                <div :class="['tools-container', viewMode]">
                    <div v-for="tool in filteredTools" 
                         :key="tool.key" 
                         class="tool-card"
                         :data-category="getToolCategory(tool.key)">
                        <div class="tool-info">
                            <h3>
                                <span class="tool-icon">{{tool.menuConfig[0].icon}}</span>
                                {{tool.name}}
                            </h3>
                            <p class="tool-desc">{{tool.tips}}</p>
                        </div>
                        <div class="tool-actions">
                            <button :class="['btn', tool.installed ? 'btn-danger' : 'btn-success', 'btn-xs']"
                                    @click="tool.installed ? uninstallTool(tool.key) : installTool(tool.key)"
                                    :disabled="tool.systemInstalled && tool.installed"
                                    :data-tool="tool.key">
                                {{tool.installed ? 'Uninstall' : 'Install'}}<span class="x-progress"></span>
                            </button>
                            <button class="btn btn-xs" :class="tool.inContextMenu ? 'btn-warning' : 'btn-info'"
                                    v-if="tool.installed"
                                    @click="toggleContextMenu(tool.key)">
                                {{tool.inContextMenu ? 'Remove from Menu' : 'Add to Menu'}}
                            </button>
                            <button class="btn btn-default btn-xs" 
                                    :class="{active: tool.favorite}"
                                    @click="toggleFavorite(tool.key)">
                                <span class="favorite-icon">❤</span>
                                {{tool.favorite ? 'Favorited' : 'Favorite'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/dark-mode.js"></script>
<script type="module" src="index.js"></script>

</body>
</html> 


